<nav class="navbar navbar-expand-lg bg-transparan bg-gradiant">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="index.php" style="color:white;">CIKIMO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-white" aria-current="page" href="admin.php" style="color:white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-white" href="Album.php" style="color:white;">Album</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-white" href="Foto.php" style="color:white;">Foto</a>
          </li>
        
        <form action="admin.php" method="post">
          <button type="submit" class="btn btn-white" name="Logout" style="color:white;">Logout</button>
        </form>
      </ul>
      </div>
    </div>
  </nav>